<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntentosRaros"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".antiheroes"
            android:exported="false" />
        <activity
            android:name=".villanos"
            android:exported="false" />
        <activity
            android:name=".heroes"
            android:exported="false" />
        <activity
            android:name=".PersonajesActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorDoomActivity"
            android:exported="false" />
        <activity
            android:name=".ModokActivity"
            android:exported="false" />
        <activity
            android:name=".WandaActivity"
            android:exported="false" />
        <activity
            android:name=".CapitanaMarvelActivity"
            android:exported="false" />
        <activity
            android:name=".DrStrangeActivity"
            android:exported="false" />
        <activity
            android:name=".SpidermanActivity"
            android:exported="false" />
        <activity
            android:name=".WolverineActivity"
            android:exported="false" />
        <activity
            android:name=".DeadpoolActivity"
            android:exported="false" />
        <activity
            android:name=".VenomActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>